body{
    background: url(img/bgg.png);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    border-radius: 10px;
    width: 800px;
    height: 900px ;
    margin: auto;
    background: rgba(26, 24, 24, 0.808);
    padding: 10px;
}
.box img{
    position: absolute;
    position: relative;
    width: 800px;
    height: 500px;
}
.gradient {
    position: absolute;
    margin-top: -10px;
    width: 800px;
    height: 410px ;
    background-image: linear-gradient(0deg, rgb(22, 21, 21) 400px, transparent ) ;
}
.inside h1{
    clear: both;
    font-size: 60px;
    color: white;
    margin-top: -290px;
    margin-left: 50px;
}
.play{
    align-items: center;
    margin-top: -40px;
    margin-left: 50px;
    border-radius: 5px;
    width: 90px;
    height:35px;
    border: 1px solid white;
    border-style: solid;
    background: white;
    
}
.play i{
    position: relative;
    margin-top: 7px;
    margin-left: 17px;
    
}
.icon{
    margin-top: -34px;
    margin-left: 100%;
    width: 200%;
  
}
.icon a {
    margin-right: 20px;
    float: left;
    width: 20%;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  .box .fa-times-circle{
     margin-top: -478%;
      clear: both;
      float: right;
      margin-right: -700%;
      margin-bottom: 100%;
      color: white;
      font-size: 36px;
  }
  .box .fa-volume-up{
    margin-top: -20px;
    clear: both;
    float: right;
    margin-right: -700%;
    margin-bottom: 100%;
    color: white;
  }
  .article-left{
      clear: both;
      width: 800px;
      height: 350px ;
  }
  .box p{
      clear: both;
      position: relative;
      position: absolute;
      margin-top: -3%;
      font-size: 20px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .box .article-right {
    clear: both;
    margin-top: -50%;
    float: right;
    flex: 50%;
    margin-right: -496%;
    margin-top: -390%;
  }
  .article-right .R{
    font-size: 15px;
  }

  .dropbtn-s {
    color: white;
    background-color: #666866;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-right: -90%;
  }
  
  .dropdown-s {
    margin-top: auto;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-s {
    display: none;
    position: absolute;
    background-color: #797979;
    min-width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-s a {
    text-align: auto;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  
  .dropdown-content-s a:hover {background-color: #2c2c2c}
  
  .dropdown-s:hover .dropdown-content-s {
    display: block;
  }
  .article-right .dropdown-s{
      clear: both;
      position: absolute;
     position: relative;
      margin-right: -200%;
  }
  .gradient .dropdown-s{
    clear: both;
    position: relative;
    position: absolute;
    margin-top: -18%;
    margin-left: 67%;
  }
  .eps-movie{
      border-radius: 10px;
      width: 88%;
      height: 80px;
      clear: both;
      position: absolute;
      border: 1px solid gray ;
  }
  .eps-movie h2{
    clear: both;
    position: relative;
    position: absolute;
    margin-top: 25px;
    color: white;
    margin-left: 30px;
  }
  .eps-movie img{
    margin-left: 30px;
    width: 70px;
    height: 50px;
    margin-top: -10px;
  }
  .box .eps-movie p{
    width: 1000px;
    font-size: 15px;
    text-align: auto;
    clear: both;
    margin-left: 120px;
    margin-top: -65px;
  }
  
  